In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
train= pd.read_csv(r"E:\evaluation\p10\train_agriculture.csv")
test= pd.read_csv(r"E:\evaluation\p10\test_agriculture.csv")

In [6]:
train.shape

(4599, 10)

In [5]:
test.shape

(1199, 9)

In [7]:
train.head()

,ID,Estimated_Insects_Count,Crop_Type,Soil_Type,Pesticide_Use_Category,Number_Doses_Week,Number_Weeks_Used,Number_Weeks_Quit,Season,Crop_Damage
0,F00000001,188,1,0,1,0,0.0,0,1,0
1,F00000003,209,1,0,1,0,0.0,0,2,1
2,F00000004,257,1,0,1,0,0.0,0,2,1
3,F00000005,257,1,1,1,0,0.0,0,2,1
4,F00000006,342,1,0,1,0,0.0,0,2,1

In [8]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4599 entries, 0 to 4598
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       4599 non-null   object
 1   Estimated_Insects_Count  4599 non-null   int64
 2   Crop_Type                4599 non-null   int64
 3   Soil_Type                4599 non-null   int64
 4   Pesticide_Use_Category   4599 non-null   int64
 5   Number_Doses_Week        4599 non-null   int64
 6   Number_Weeks_Used        4157 non-null   float64
 7   Number_Weeks_Quit        4599 non-null   int64
 8   Season                   4599 non-null   int64
 9   Crop_Damage              4599 non-null   int64
dtypes: float64(1), int64(8), object(1)
memory usage: 359.4+ KB

In [9]:
train.isnull().sum()

ID                           0
Estimated_Insects_Count      0
Crop_Type                    0
Soil_Type                    0
Pesticide_Use_Category       0
Number_Doses_Week            0
Number_Weeks_Used          442
Number_Weeks_Quit            0
Season                       0
Crop_Damage                  0
dtype: int64

In [10]:
test.isnull().sum()

ID                           0
Estimated_Insects_Count      0
Crop_Type                    0
Soil_Type                    0
Pesticide_Use_Category       0
Number_Doses_Week            0
Number_Weeks_Used          119
Number_Weeks_Quit            0
Season                       0
dtype: int64